.FW-wrap {
    width: 1000px;
    margin: 0 auto;
}

.FW-product {
    position: relative;
    margin-bottom: 40px;
    padding-top: 22px;
    z-index: 10;
    float: left;
}

.mp-license-score-wrap .mp-logo {
    width: 80px;
    height: 40px;
    margin-right: 10px;
    float: left;
    margin-top: 14px;
    border: 1px solid #e4e4e4;
}

.mp-license-score-wrap {
    padding-top: 50px;
    height: 68px;
    border-bottom: dotted 1px #f6f6f6;
    font-family: Arial;
}

.mp-license-score-wrap .mp-score-hover {
    width: 517px;
    height: 68px;
    float: left;
    position: relative;
}

.mp-title-storename {
    font-weight: 700;
    font-size: 16px;
    color: #2c2c2c;
}

.mp-score-hover a {
    position: relative
}

.mp-title-type {
    display: inline-block;
    font-size: 12px;
    height: 18px;
    color: #d7ac5f;
    border: 1px solid #d7ac5f;
    text-align: center;
    background-color: #fff;
    border-radius: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.mp-score-wrap {
    float: left;
    margin-left: 27px;
    width: 131px;
    cursor: default;
}

.mp-score-content {
    display: inline-block;
    margin-top: 15px;
    margin-left: 16px;
    width: 25px;
    height: 16px;
}

.mp-score-content .score-content-type {
    color: #999;
    font-size: 12px;
}

.mp-score-content .score-content-score {
    font-weight: 700;
    font-size: 12px;
    color: #2c2c2c;
}

.mp-title-txt {
    float: left;
}

.M-pic {
    float: left;
    position: absolute;
    top: 140px;
}

.pic-sliderwrap {
    width: 420px;
    height: 420px;
    position: relative;
    z-index: 99;
    margin-bottom: 7px;
    background-color: #f7f7f7;
}

.show-midpic {
    width: 420px;
    height: 420px;
    position: relative;
    text-align: center;
}

.pic-slider {
    position: relative;
    width: 420px;
    height: 64px;
    overflow: hidden;
    text-align: center;
}

.pic-slider-wrap {
    overflow: hidden;
    display: inline-block;
}

.pic-slider-items {
    width: 62px;
    height: 62px;
    margin: 0 7px 0 0;
    float: left;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border: 1px solid #f2f2f2;
    background-color: #f7f7f7;
}


/* 右侧 */

.M-productInfo {
    float: right;
    width: 442px;
    position: relative;
    top: 200px;
    z-index: 9;
    min-height: 634px;
    *margin-left: 20px;
}

.pib-title {
    color: #4d4d4d;
    margin-bottom: 10px;
    clear: both;
}

.pib-title-class {
    width: 340px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #777578;
    line-height: 22px;
    min-height: 22px;
}

.pib-vendor-tag {
    float: left;
    border-radius: 2px;
    background-color: #67e0c4;
    font-size: 12px;
    color: #fff;
    width: 67px;
    line-height: 19px;
    text-align: center;
    margin: 8px 10px 0 0;
}

.pib-title-detail {
    font-size: 16px;
    color: #333;
    max-height: 40px;
    overflow: hidden;
    line-height: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 700;
}

.pi-price-box {
    padding-bottom: 10px;
}

.spcecialPrice-box {
    color: #fff;
    background-color: #f10180;
    background: -webkit-linear-gradient(left, #f10180 60%, #fe3b07 100%);
    background: linear-gradient(to right, #f10180 60%, #fe3b07 100%);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
}

.spcecialPrice-box .sp-info {
    float: left;
    height: 48px;
}

.spcecialPrice-box .sp-title {
    font-size: 20px;
    margin: 3px 10px 0 0;
    float: left;
    display: inline-block;
    max-width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.spcecialPrice-box .sp-info .pbox-yen {
    font-size: 24px;
    float: left;
    line-height: 58px;
}

.spcecialPrice-box .sp-price {
    font-size: 38px;
    font-family: arial;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
    display: inline-block;
}

.spcecialPrice-box .sp-postfix {
    font-size: 20px;
    color: #fff;
    margin-left: 3px;
    float: left;
    line-height: 58px;
}

.i-num {
    padding: 11px 10px;
    position: relative;
    height: 30px;
    margin: -1px 0 0 -10px;
    padding-bottom: 10px;
}

.pi-attr-box dd {
    float: left;
}

.num-box {
    position: relative;
    height: 28px;
    border: 1px solid #b3b3b3;
}

.ui-quantity {
    display: inline-block;
    width: 73px;
    height: 22px;
    background-color: #fff;
    border: 1px solid #e3e2e2;
    color: #333;
    vertical-align: top;
    text-align: center;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
}

.pi-price-box .num-name {
    float: left;
    font-size: 12px;
    width: 40px;
    text-align: left;
    color: #999;
    line-height: 32px;
    overflow: hidden;
}

.num-box .num-reduce {
    float: left;
    height: 20px;
    line-height: 28px;
}

.ui-quantity .amount {
    float: left;
    width: 29px;
    height: 100%;
    line-height: 22px;
    font-size: 12px;
    border-left: 1px solid #e4e3e3;
    border-right: 1px solid #e4e3e3;
    overflow: hidden;
}

.ui-quantity a {
    float: left;
    width: 21px;
    height: 100%;
    line-height: 22px;
    font-size: 15px;
    color: #7d7c7c;
    background-color: #f9f8f8;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
}

.ui-quantity .vipFont {
    font-size: 10px;
}

.vipFont {
    font-family: vipFont;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ui-quantity a {
    float: left;
    width: 21px;
    height: 100%;
    line-height: 22px;
    font-size: 15px;
    color: #7d7c7c;
    background-color: #f9f8f8;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
}

.i-button {
    _height: 35px;
    margin-bottom: 12px;
    margin-left: 40px;
    margin-top: 20px;
    *z-index: 9;
    *position: relative;
}

.button-box {
    height: 46px;
    margin-right: 20px;
    position: relative;
}

.button-box .ui-btn-large {
    width: 198px;
}

.ui-btn-loading-before {
    display: inline-block;
}

.vipFont {
    font-family: vipFont;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    font-size: 22px;
    color: #fff;
}

.ui-btn-large {
    background-color: #f10180;
    border: 1px solid #f10180;
}

.ui-btn-large {
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    vertical-align: top;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
    *white-space: nowrap;
    _overflow-y: hidden;
}

.J-mer-ImgReview {
    position: absolute
}

.J-mer-ImgReview .pic-img-3 {
    height: 420px;
    width: 100%
}

.J-mer-ImgReview .pic-img-2 {
    z-index: 10000;
    position: relative;
    left: 400px;
    top: -423px;
}


/*  */

.detail {
    margin: 30px 0 0 50px;
}

.spic {
    width: 400px;
    height: 400px;
    border: 1px solid #ccc;
    float: left;
    margin-right: 10px;
    position: relative;
}

.spic img {
    width: 400px;
    height: 400px;
    display: block;
}

.sf {
    background: url(bg.png);
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: hidden;
    cursor: move;
}

.bf {
    width: 400px;
    height: 400px;
    border: 1px solid #ccc;
    float: left;
    overflow: hidden;
    position: relative;
    visibility: hidden;
}

.bpic {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 750px;
    height: 750px;
}